@font-face {
    font-family: 'Art of Living Script';
    font-weight: 500;
    src: url('../fonts/gen/artofliving_script_regular.woff') format('woff');
    font-display: swap;
}

/* @font-face {
       font-family: 'Art of Living Script';
       font-weight: 600;
       src: url('../fonts/gen/artofliving_script_textured.woff') format('woff');
       font-display: swap;
} */

/* @font-face {
       font-family: 'Certa Sans';
       font-weight: 200;
       src: url('../fonts/gen/certa_sans_extra_light.woff') format('woff');
       font-display: swap;
} */

@font-face {
    font-family: 'Certa Sans';
    font-weight: 300;
    src: url('../fonts/gen/certa_sans_light.woff') format('woff');
    font-display: swap;
}
