@font-face {
    font-family: 'Art of Living Script';
    font-weight: 500;
    src: url('../fonts/gen/artofliving_script_regular.woff2') format('woff2');
    font-display: swap;
}

/* @font-face {
    font-family: 'Certa Sans';
    font-weight: 200 400;
    src: url('../fonts/gen/certa_sans_extra_light.woff2') format('woff2');
    font-display: swap;
} */

@font-face {
    font-family: 'Certa Sans';
    font-weight: 300 400;
    src: url('../fonts/gen/certa_sans_light.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Certa Sans';
    font-weight: 500 700;
    src: url('../fonts/gen/certa_sans_medium.woff2') format('woff2');
    font-display: swap;
}

:root {
    --page-bg-c: hsl(45, 20%, 93%);
    --content-bg-c: hsl(45, 20%, 98%);
    --accord-bg-c: hsl(45, 20%, 86%);
    --text-c: hsl(207, 30%, 20%);
    --link-c: hsl(207, 100%, 30%);
    --link-active-c: hsl(207, 100%, 40%);
    --header-c: #ff8400;
    --number-c: hsl(45, 2%, 41%);
    --raduis: 0.6rem;

    /* цвета из бренд-бука */
    /* сизо-синий - для дополнительного акцентного фона */
    --2a3e4e-c: hsl(207, 30%, 24%);
    /* теплый серый - для наборного шрифта (подписи, сноски), для разделительных линий */
    --acaba8-c: hsl(45, 2%, 67%);
    /* теплый светло-серый - для фона — когда нужно разбавить белый */
    --f7f6f3-bg-c: hsl(45, 20%, 96%);
}

/* Сброс некоторых дефолтных стилей */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

/* Глобальные стили */

body {
    max-width: 42rem;
    margin-inline: auto;
    font-family: 'Certa Sans', system-ui, sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
    color: var(--text-c);
    background-color: var(--page-bg-c);
}

header, main, footer {
    padding: 1.5rem;
    background-color: var(--content-bg-c);
}

main {
    padding-block: 3.5rem;
}

a {
    color: var(--link-c);
}

a:hover {
    color: var(--link-active-c);
}

a:active {
    color: var(--header-c);
}

/* Вертикальные расстояния */

body > * + * {
    margin-block-start: 2rem;
}

header > * + * {
    margin-block-start: 1.5rem;
}

header > :first-child {
    margin-block-start: 0.5rem;
}

header > h1 {
    margin-block-start: 0;
}

header > nav {
    margin-block-start: 2rem;
}

/* между категориями */
main > * + * {
    margin-block-start: 3rem;
}

/* между баджанами */
section > * + * {
    margin-block-start: 2rem;
}

article + article {
    margin-block-start: 2.5rem;
}

/* внутри блока баджаны */
article > * + * {
    margin-block-start: 0.5rem;
}

article > details {
    margin-block-start: 1rem;
}

/* Основные стили */

details {
    border-radius: 0.3rem;
    padding: 0.5rem;
    background-color: var(--page-bg-c);
}

details summary {
    margin-inline-start: 0.5rem;
}

header {
    border-radius: 0 0 var(--raduis) var(--raduis);
}

header .site-name {
    font-family: 'Art of Living Script', Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif;
    font-weight: 500;
    font-size: 3.5rem;
    /* size-adjust: 50%; */
    line-height: 0.8;
    color: var(--header-c);
}

header h1 {
    font-size: inherit;
    font-weight: inherit;
    font-style: italic;
    line-height: 1.4;
}

nav ul {
    padding-inline-start: 0;
    list-style-type: none;
}

nav details > ul {
    padding-inline: 0.5rem;
    padding-block-end: 0.5rem;
}

nav details > ul > li {
    margin-block-start: 1rem;
}

nav li ul {
    margin-inline-start: 1rem;
}

nav li ul li {
    padding-block: 0.125rem;
}

.prefs input {
    vertical-align: middle;
}

main {
    border-radius: var(--raduis);
}

h2 {
    border-block-end: 1px solid;
    color: var(--header-c);
}

h3 {
    display: inline;
}

.bhajan-number {
    color: var(--number-c);
    font-size: 0.8em;
}

.accord {
    background-color: var(--accord-bg-c);
    margin: 0 0.2em;
    padding: 0 0.2em;
    font-size: 0.9em;
}

.listen-list {
    padding: 0.5rem;
}

.listen-list > * + * {
    margin-block-start: 1rem;
}

footer {
    border-radius: var(--raduis) var(--raduis) 0 0;
}

footer address {
    text-align: center;
}

@media only screen and (max-width: 42em) {
    header, footer {
        border-radius: 0;
        background-color: var(--page-bg-c);
    }

    main, footer {
        border-radius: 0;
        margin-block-start: 0;
    }

    nav details {
        padding: 0;
    }

    nav details summary {
        margin-inline-start: 0;
    }

    nav details > ul {
        padding: 0;
    }
}