---
layout: base
---
<a href="" id="toggle-accords">показать аккорды</a>

{% for cat in site.data.categories %}
  {% assign category_bhajans = site.bhajans | where: 'category', cat.name %}
  {% if category_bhajans.size > 0 %}
    <section>
      <h2>{{ cat.name }} баджаны</h2>
      {% for bhajan in category_bhajans %}
        {% include bhajan.html title=bhajan.title
                               text=bhajan.output
                               audio=bhajan.audio
                               slug=bhajan.slug %}
      {% endfor %}
    </section>
  {% endif %}
{% endfor %}

<audio id="player" controls>
  <p>Ваш браузер не поддерживает HTML5 аудио.</p>
</audio>
