---
layout: base
title: Баджаны Искусства Жизни
---
<header class="header">
  <p class="site-name">Голос санскрита</p>
  <h1>Баджаны, которые поют на сатсангах Искусства Жизни</h1>
  {% include nav.html %}
  {% include prefs.html %}
</header>

<main class="content">
{%- for cat in site.data.categories -%}
  {%- assign category_bhajans = site.bhajans | where: 'category', cat.name -%}
  {% if category_bhajans.size > 0 %}
    <section>
      <h2 id="{{ cat.slug }}">{{ cat.name }}-баджаны</h2>
      {%- for bhajan in category_bhajans -%}
        {%- include bhajan.html title=bhajan.title
                                text=bhajan.output
                                audio=bhajan.audio
                                video=bhajan.video
                                slug=bhajan.slug -%}
      {% endfor %}
    </section>
  {% endif -%}
{% endfor %}
</main>
