{%- assign right_cbrace = '}' -%}
{%- assign bid=include.slug | abs %}
    <article>
      <h3 id="{{ bid }}">{{ bid }}. {{ include.title }}</h3>
      {{ include.text | replace: '{', '<span class="accord">' | replace: right_cbrace, '</span>' }}

      {%- if include.audio.size > 0 or include.video.size > 0 %}
        <details>
          <summary>Слушать</summary>
          {%- for video in include.video %}
            <lite-youtube videoid="{{ video.ytid }}"></lite-youtube>
          {%- endfor %}
          {%- if include.audio.size > 0 %}
            <ul>
              {%- for audio in include.audio -%}
              {% assign fid = audio.url |
              remove:"https://drive.google.com/file/d/" |
              remove:"/view?usp=sharing" %}
              <li>
                <a href="{{ audio.url }}"
                  class="audio-link"
                  data-audio-download-url="https://drive.google.com/uc?export=download&id={{ fid }}">
                  {{ audio.name }}
                </a>
              </li>
              {%- endfor %}
            </ul>
          {%- endif %}
        </details>
      {%- endif %}
    </article>
