{%- assign right_cbrace = '}' -%}
{%- assign bid=include.slug | abs -%}

    <article>
      <h3 id="{{ bid }}">
        {{ bid}}. {{ include.title }}
        <a href="#{{ bid }}" class="local-anchor">&para;</a>
      </h3>
      {{ include.text | replace: '{', '<span class="accord hidden">' | replace: right_cbrace, '</span>' }}
      {% if include.audio.size > 0 %}
        <strong>Слушать:</strong>
        <ul>
          {% for audio in include.audio %}
            {% assign fid = audio.url |
                            remove:"https://drive.google.com/file/d/" |
                            remove:"/view?usp=sharing" %}
            <li>
              <a href="{{ audio.url }}"
                 class="audio-link"
                 data-audio-download-url="https://drive.google.com/uc?export=download&id={{ fid }}">
                {{ audio.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </article>
