<!doctype html>
<html class="no-js" lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ page.title }} - Голос Санскрита</title>
  <meta name="description" content="Баджаны, которые поют на сатсангах Искусства Жизни.">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% include ownership-proof.html %}

  <link rel="manifest" href="/site.webmanifest">
  <link rel="apple-touch-icon" href="/icon.png">

  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/lite-yt-embed.css">

  <style id="hide-accords-style">
    .accord { display: none; }
  </style>

  <script async src="/js/main.js"></script>
</head>

<body>
  {%- include upgrade-browser.html %}

  {{ content }}

  <audio id="player" class="hidden" controls>
    <p>Ваш браузер не поддерживает HTML5 аудио.</p>
  </audio>

  <script src="/js/vendor/lite-yt-embed.js"></script>

  {% include google-analytics.html %}
</body>

</html>
