<!doctype html>
<html class="no-js" lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ page.title }} - Голос Санскрита</title>
  <meta name="description" content="Баджаны, которые поют на сатсангах Искусства Жизни.">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% include ownership-proof.html %}

  <link rel="manifest" href="/site.webmanifest">
  <link rel="apple-touch-icon" href="/icon.png">

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">

  <style id="hide-accords-style">
    .accord { display: none; }
  </style>
</head>

<body>
  {%- include upgrade-browser.html %}

  {{ content }}

  <audio id="player" class="hidden" controls>
    <p>Ваш браузер не поддерживает HTML5 аудио.</p>
  </audio>

  <script src="/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="/js/plugins.js"></script>
  <script src="/js/main.js"></script>

  {% include google-analytics.html %}
</body>

</html>
