<!doctype html>
<html class="no-js" lang="ru">

<head>
  <meta charset="utf-8">
  <title>{{ page.title }} - Голос Санскрита</title>
  <meta name="description" content="Баджаны, которые поют на сатсангах Искусства Жизни. Тексты, аккорды, примеры исполнения.">
  <meta name="keywords" content="баджаны, бхаджаны, искусство жизни, тексты, аккорды, примеры исполнения">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% include ownership-proof.html %}

  <link rel="manifest" href="/site.webmanifest">
  <link rel="apple-touch-icon" href="/icon.png">

  <!-- <link rel="stylesheet" href="/css/fonts.css"> -->
  <!-- <link rel="stylesheet" href="/css/normalize.css"> -->
  <!-- <link rel="stylesheet" href="/css/main.css"> -->
  <link rel="stylesheet" href="/css/sv.css">
  <link rel="stylesheet" href="/css/lite-yt-embed.css">

  <style id="hide-accords-style">
    .accord { display: none; }
  </style>

  <script defer src="/js/main.js"></script>
  <script defer src="/js/vendor/lite-yt-embed.js"></script>

  {% include google-analytics.html -%}
</head>

<body>
  {{ content }}

  <audio id="player" class="hidden" controls>
    <p>Ваш браузер не поддерживает HTML5 аудио.</p>
  </audio>
</body>

</html>
